<h1>Listing claims</h1>

<table>
  <tr>
    <th>Line item</th>
    <th>Group</th>
    <th>Claim type</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @claims.each do |claim| %>
  <tr>
    <td><%= claim.line_item_id %></td>
    <td><%= claim.group_id %></td>
    <td><%= claim.claim_type_id %></td>
    <td><%= claim.quantity %></td>
    <td><%= link_to 'Show', claim %></td>
    <td><%= link_to 'Edit', edit_claim_path(claim) %></td>
    <td><%= link_to 'Destroy', claim, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Claim', new_claim_path %>
