<h1>Groups</h1>

<div id="groups">
  <ul>
    <% @groups.each do |group| %>
      <li><%= group.id.to_s + " : " +  group.name %> </li>
    <% end %>
  </ul>
</div>

<%= content_for :javascript do -%>
  <%= javascript_tag do %>
    $(function() {
      GroupsApp.init(<%== current_user.to_json %>, <%== @groups.to_json(:include => :users ) %>);
    });
  <% end %>
<% end -%>
