<p id="notice"><%= notice %></p>

<p>
  <b>Account:</b>
  <%= @line_item.account_id %>
</p>

<p>
  <b>Short desc:</b>
  <%= @line_item.short_desc %>
</p>

<p>
  <b>Long desc:</b>
  <%= @line_item.long_desc %>
</p>

<p>
  <b>Eff date:</b>
  <%= @line_item.eff_date %>
</p>

<p>
  <b>Owner:</b>
  <%= @line_item.owner_id %>
</p>


<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
