<h1>Accounts</h1>
<%= link_to '(accounts home)', accounts_path + '#' %>
<div id="accounts">
  <ul>
    <% @accounts.each do |account| %>
      <li><%= account.id.to_s + " : " +  account.name %> </li>
    <% end %>
  </ul>
</div>

<%= content_for :javascript do -%>
  <%= javascript_tag do %>
    $(function() {
      AccountsApp.init(<%== current_user.to_json %>, <%== @accounts.to_json() %>, <%== @users.to_json() %>, <%== @groups.to_json() %> );
    });
  <% end %>
<% end -%>
