<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= @account.owner_id %>
</p>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>Description:</b>
  <%= @account.description %>
</p>

<p>
  <b>Group:</b>
  <%= @account.group_id %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
